<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hash_Sum_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hash_Sum_Generator.Properties.Settings>
            <setting name="PathForFileWithHashSum" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Post_on_the_site" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UrlText" serializeAs="String">
                <value>http://link/index.php</value>
            </setting>
            <setting name="HashAlgorithm" serializeAs="String">
                <value />
            </setting>
            <setting name="File_or_Folder" serializeAs="String">
                <value />
            </setting>
        </Hash_Sum_Generator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
